<template>
    <div class="container-fluid">
        <h1>{{this.message}} - {{this.selectedCountry?.Slug || ''}}</h1>
        <div class="form-group row">
        <div class="col-sm-10">
        <select v-model="selectedCountry" class="form-control">
            <option v-for="country in countries" :key="country" :value="{Slug:country.Slug}">
                {{country.Country}}
            </option>
        </select>
        </div>
        <div class="col-sm-2">
        <button @click="getResult" class="form-control btn btn-primary">Search</button>
        </div>
        </div>

        <Table :dataSet="resultSet" 
         :columns="countryColumns" :key="refreshKey">
        </Table>

    </div>
</template>

<script>
import covService from '../services/covservice'
import Table from '../components/Table.vue'
export default{
    components:{
        Table
    },
    props:{
        message: null,
        status: null,
        columns: {
            type: Array,
            default: () => [],
        }
    },
    data(){
        return{
            refreshKey: false,
            countries:[],
            selectedCountry: null,
            currentCaseType: "confirmed",
            resultSet: [],
            countryColumns:[
                {fieldName:"Date", title:"Date", type:"Date"},
                {fieldName:"Country", title:"Country"},
                {fieldName:"Recovered", title:"Recovered"}
            ]
        }
    },
    methods:{
        async getCountries(){
            const { data } = await covService.getCountries()
            this.countries = data
        },
        async getResult(){
            const { data } = await covService.liveByCountryAndStatus(this.selectedCountry.Slug, this.currentCaseType)
            this.resultSet = data
            this.refreshKey = !this.refreshKey
        },
    },
    async mounted(){
        await this.getCountries()
        let countryParam = this.$route.params.country

        if(this.status){
            this.currentCaseType = this.status
        }

        if(this.columns && this.columns.length > 0){
            this.countryColumns = this.columns
        }

        if(countryParam){
            this.selectedCountry = { Slug: countryParam }
            await this.getResult()
        }
    }
}
</script>