<template>
  <div class="container-fluid">
    <h1>Summary of cases</h1>

  <div v-if="summary">
    <p>
      <label>Date:</label>
      {{$filters.formatDate(summary.Global.Date)}}
      </p>

      <p>
        <label>Total confirmed:</label>
      {{summary.Global.TotalConfirmed}}
      </p>

      <p>
        <label>Total Deaths:</label>
      {{summary.Global.TotalDeaths}}
      </p>

      <p>
        <label>Total Recovered:</label>
      {{summary.Global.TotalRecovered}}
      </p>

      <input v-model="countryFilter" class="form-control mb-2"
      placeholder="Search a country"
       @keyup="filterCountries"/>

      
      <Table :dataSet="countryFilteredData"  :key="refreshTable"
      :columns="countryColumns">
      </Table>

  </div>
  </div>
</template>

<script>

import covService from '../services/covservice'
import Table from '../components/Table.vue'

export default{
  components:{
    Table
  },
  data(){
    return{
      refreshTable: false,
      summary: null,
      countryFilter: null,
      countryFilteredData: [],
      countryColumns:[
        {fieldName:"Date", title:"Date", type:"Date"},
        {fieldName:"Country", title:"Country"},
        {fieldName:"TotalConfirmed", title:"Total confirmed"},
        {fieldName:"TotalDeaths", title:"Total deaths"},
        {fieldName:"TotalRecovered", title:"Total recovered"},
        {fieldName:"NewConfirmed", title:"New confirmed"},
        {fieldName:"NewDeaths", title:"New deaths"},
        {fieldName:"NewRecovered", title:"New recovered"},
        {fieldName: "Action", title:"Action", type:"Action", actionTitle:"Recovered",
          action:(selected)=> {
          this.$router.push({name:"Recovered", params:{country:selected.Slug}})
          }
        },
        {fieldName: "Action", title:"Action", type:"Action", actionTitle:"Deaths",
          action:(selected)=> {
          this.$router.push({name:"Deaths", params:{country:selected.Slug}})
          }
        },
        {fieldName: "Action", title:"Action", type:"Action", actionTitle:"Confirmed/Active",
          action:(selected)=> {
          this.$router.push({name:"Confirmed", params:{country:selected.Slug}})
          }
        }
        ]
    }
  },
  methods:{
    async getSummary(){
      const { data } = await covService.getSummary()
      this.summary = data

      if(this.summary){
        this.countryFilteredData = this.summary.Countries
      }
    },
    filterCountries(){
      if(this.countryFilter && this.countryFilter.length>0)
      {
        let filtered = this.summary.Countries.filter(x => x.Slug.includes(this.countryFilter.toLowerCase().trim()))

        this.countryFilteredData = filtered
        this.refreshTable = !this.refreshTable
        return
      }

      this.countryFilteredData = this.summary.Countries
      this.refreshTable = !this.refreshTable

    }
  },
  mounted(){
    this.getSummary()
  }
}
</script>
