<template>
  <div class="hello">
  <div>
    <h3>Summary</h3>
    <p>Show summary of all cases per country and date</p>
    <h3>Recovered/Deaths/Confirmed</h3>
    <p>Show live cases filtered by country</p>
  </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
