<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr> 
                    <td v-for="header in columns" :key="header">{{header.title}}</td>               
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in tableData" :key="row">
                    <td v-for="key in columns" :key="key">
                        <button class="btn btn-primary" v-if="key.type=='Action'"  @click="key.action(row)">
                             {{key.actionTitle}}
                        </button>

                        <span>{{handleType(row[key.fieldName], key.type)}}</span>
                    </td>
                </tr>
                <tr v-if="tableData.length==0"><td :colspan="columns.length">No data</td></tr>
            </tbody>
            <tfoot>
                <tr>
                    <td :colspan="columns.length">
                <div>
                    <label>Page</label>
                    <button class="btn btn-primary" v-for="page in getPages()" :key="page"
                    @click="setPage(page)">{{page+1}}</button>

                    <span class="p-2">Total: {{dataSet.length}}</span>
                </div>
                </td>
                </tr>
            </tfoot>
        </table>
    </div>
</template>

<script>
    export default{
        props:{
            dataSet:{
                type: Array,
                default:() => []
            },
            columns:{
                type: Array,
                default:() =>[]
            }
        },
        data(){
            return{
                currentPage: 0,
                prevPage: 0,
                tableData:[]
            }
        },
        methods:{
            handleType(value , type){

                if(!type)
                    return value

                if(type == "Date"){
                    return new Date(value).toLocaleString("hr")
                }
            },
            setPage(pageNumber){
                this.currentPage = pageNumber            
                this.tableData = this.dataSet.slice(this.currentPage*10, this.currentPage*10+10)
            },
            getPages()
            {
                let total = Math.ceil(this.dataSet.length / 10)

                let numbers = []

                if(this.currentPage > this.prevPage){

                    let start = 0
                    if(this.currentPage>0)
                        start = this.currentPage-1
                        
                    if(this.currentPage+1 >= total)
                        start = this.currentPage-2 

                    for(let i=start;i<start+3;i++)
                    numbers.push(i)
                }
                else if(this.currentPage < this.prevPage){
                    for(let i=this.currentPage;i<this.currentPage-3;i++)
                    numbers.push(i) 
                }
                else if(total<2){
                    numbers.push(0);
                }
                else{
                    for(let i=0;i<3;i++)
                    numbers.push(i)
                }

                return numbers
            },
        },
        mounted()
        {
            this.tableData = this.dataSet.slice(0,10)
        }
    }
</script>