<template>
  <div id="nav" class="mb-3">
    <ul class="nav justify-content-center">
      <li class="nav-item">
    <router-link to="/" class="nav-link">Home</router-link>
      </li>
    <li class="nav-item">
    <router-link to="/summary" class="nav-link">Summary</router-link>
    </li>
    <li class="nav-item">
    <router-link to="/recovered" class="nav-link">Recovered</router-link>
    </li>
    <li class="nav-item">
    <router-link to="/deaths" class="nav-link">Deaths</router-link>
    </li>
        <li class="nav-item">
    <router-link to="/confirmed" class="nav-link">Confirmed</router-link>
    </li>
    </ul>
  </div>
  <router-view/>
  <notifications />

</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  box-shadow:1px -9px 15px
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
